<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960219480861-ggei39mbtfng2cipc97pe9nkfmt4c2ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960219480861-ggei39mbtfng2cipc97pe9nkfmt4c2ud</string>
	<key>API_KEY</key>
	<string>AIzaSyBQJuAXe1COE-UcdkLuw3sWiIh2d-BTNBM</string>
	<key>GCM_SENDER_ID</key>
	<string>960219480861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iOSKingkr.atte22</string>
	<key>PROJECT_ID</key>
	<string>atte22-6011b</string>
	<key>STORAGE_BUCKET</key>
	<string>atte22-6011b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960219480861:ios:9bb5ac2292880deeb317f4</string>
</dict>
</plist>